<nav class="navbar navbar-expad-sm navbar-dark style-header">
    <ul class="item">
        <li class="item">
            <a routerLink="tasks" routerLinkActive="active" class="nav-link item-header">Minhas Tarefas</a>
        </li>
        <li class="item">
            <a routerLink="create-task" routerLinkActive="active" class="nav-link item-header">Cadastrar Tarefas</a>
        </li>
        <li class="item">
            <a href="http://localhost:4201/" class="nav-link item-header">Blog Tec</a>
        </li>
    </ul>
</nav>

<h1 class="style-home"></h1>
<div class="container">
    <router-outlet></router-outlet>
</div>