<header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Tecnologia</a></li>
        <li><a href="http://localhost:4200/">Minhas Tarefas</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <section class="cards">
      <div class="card">
        <img src="../assets/artificial_intelligence.jpg" alt="Imagem de tecnologia">
        <h3>Inteligência Artificial</h3>
        <p>A inteligência artificial é uma tecnologia que permite que as máquinas aprendam com os dados e realizem tarefas que normalmente exigiriam inteligência humana. Saiba mais sobre essa tecnologia em nosso artigo.</p>
        <a href="#">Saiba mais</a>
      </div>
      <div class="card">
        <img src="../assets/blockchain.jpg" alt="Imagem de tecnologia">
        <h3>Blockchain</h3>
        <p>O blockchain é uma tecnologia de registro distribuído que permite que as informações sejam compartilhadas e verificadas de forma segura e descentralizada. Saiba mais sobre essa tecnologia em nosso artigo.</p>
        <a href="#">Saiba mais</a>
      </div>
      <div class="card">
        <img src="../assets/realidade_virtual.jpg" alt="Imagem de tecnologia">
        <h3>Realidade Virtual</h3>
        <p>A realidade virtual é uma tecnologia que permite que os usuários experimentem ambientes virtuais em 3D imersivos. Saiba mais sobre essa tecnologia em nosso artigo.</p>
        <a href="#">Saiba mais</a>
      </div>
      <div class="card">
        <img src="../assets/internet_das_coisas.jpg" alt="Imagem de tecnologia">
        <h3>Internet das Coisas</h3>
        <p>A Internet das Coisas é uma tecnologia que permite que objetos físicos sejam conectados à internet e se comuniquem entre si e com os usuários. Saiba mais sobre essa tecnologia em nosso artigo.</p>
        <a href="#">Saiba mais</a>
      </div>
    </section>
  </main>
  